html{
    font-family: 'Roboto', sans-serif;
}
.logo span{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}
.logo{
    padding: 5vh 0vw 0vh 3vw
}
.login_container{
    background-color: white;
    min-height: 90vh;
}
.left-welcome{
    padding: 4vh 6vw 5vh 6vw;
}
body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.f-bold{
    font-weight: bold !important;
}
h1,h2,h3,h4,h5,p,span{
    font-family: 'Roboto', sans-serif !important;
}
.form_charrr{
    padding: 5vh 4vw 2vh 4vw;
}
.input-group{
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: hidden !important;
    font-style: normal;
    font-weight: normal;
    color: #4E4E4E;
}
.customize-form{
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: hidden !important;
    font-style: normal;
    font-weight: normal;
}
.usericon i{
    position: absolute;
    left: 64%;


}
.login-form{
   padding: 0 9vw 0 9vw;
}

.User_form{
    background: #F2F2F2;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

.form_charrr button{

    background: #6C63FF;
    border-radius: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    width: 10rem;

    color: #FFFFFF;
}
.icon{
    background-color: #F2F2F2;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.icon1{

    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}
.right-login h1{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 59px;
    text-align: center;
    align-items: center;

    color: #000000;
}
.pwo{
    margin-bottom: 1000px;
}
.right-login p{
    padding: 0 7vw 0vh 7vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
}
.containerrr{
    padding: 5vh 3vw 3vh 3vw;
}
.signup{

}


